<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.faceflag.android">

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="com.google.android.gms.vision.DEPENDENCIES" android:value="face"/>

        <activity
            android:name=".PhotoActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".FlagDisplayActivity"
            android:label="@string/app_name"
            android:parentActivityName=".PhotoActivity">

        </activity>

        <activity
            android:name=".PhotoDisplayActivity"
            android:parentActivityName=".PhotoActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".FinalImageActivity"
            android:label="@string/app_name"
            android:parentActivityName=".FlagDisplayActivity">
        </activity>

    </application>

</manifest>
